html {
	height: 100%;
}

body {
	background-color: #fcfcfc;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #95989a;
	letter-spacing: 0.03em;
	height: 100%;
}

button {
	outline: none;
	cursor: pointer;
	border: none;
}

input {
	outline: none;
}

textarea {
	outline: none;
}

h2 {
	font-family: 'Open Sans';
	font-size: 22px;
	color: #565656;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #95989a;
	display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.relative {
	position: relative;
}

.fsize-0 {
	font-size: 0;
}

.white-bg {
	background-color: #fff;
}

.header-nav {
	background-color: #f7f7f7;
	padding: 18px 0;
}

	.header-nav .header-nav__link {
		display: inline-block;
		text-decoration: none;
		color: #b7b7b7;
		font-size: 13px;
		margin-right: 40px;
		-webkit-transition: all 0.14s;
		-o-transition: all 0.14s;
		transition: all 0.14s;
		background-color: #f7f7f7;
	}

	.header-nav .header-nav__link-right {
		float: right;
		margin: 0;
	}

	.header-nav .header-nav__link:hover {
		color: #757575;
	}

	.header-nav .header-nav__modal {
		position: absolute;
		width: 260px;
		background-color: #fff;
		z-index: 1000;
		border: 1px solid #f7f7f7;
		padding: 14px 12px 18px 12px;
		text-align: center;
		right: 6px;
		top: 37px;
		visibility: hidden;
		opacity: 0;
	}

	.header-nav .header-nav__modal.active {
		visibility: visible;
		opacity: 1;
	}
	
		#change-password-form {
			display: none;
		}

		.header-nav .header-nav__modal .header-nav__modal__heading {
			text-transform: uppercase;
			font-family: 'HelveticaNeueCyr', sans-serif;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    margin-bottom: 25px;
		}
	
		.header-nav .header-nav__modal .header-nav__modal__input {
			background-color: #f7f7f7;
		    width: 100%;
		    height: 35px;
		    border: none;
		    margin-bottom: 8px;
		    font-size: 11px;
		    padding-left: 12px;
		    font-family: 'Roboto', sans-serif;
		}

		.header-nav .header-nav__modal .header-nav__modal__submit {
			width: 100%;
			border: none;
			border-radius: 1px;
		    background-color: #9ed112;
		    color: #fff;
		    font-family: 'HelveticaNeueCyr', sans-serif;
		    font-size: 10px;
		    text-transform: uppercase;
		    padding: 10px 17px;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    -webkit-transition: all 0.24s;
		    -o-transition: all 0.24s;
		    transition: all 0.24s;
		}

		.header-nav .header-nav__modal .header-nav__modal__submit:hover {
			background-color: #8bb711;
		}

		.header-nav .header-nav__modal .header-nav__modal__forget {
			float: left;
			background-color: #fff;
			color: #95989a;
			border: none;
			margin-top: 18px;
		}

		.header-nav .header-nav__modal .header-nav__modal__signup {
			float: right;
			background-color: #fff;
			color: #95989a;
			border: none;
			margin-top: 18px;
		}

.header {
	background-color: #fff;
	padding: 25px 0;
	border-bottom: 1px solid #e5e5e5;
}

	.header .header__phones {
		width: 165px;
		overflow: hidden;
	}

		.header .header__phones .mdi {
			font-size: 20px;
			color: #95989a;
			float: left;
			margin-right: 16px;
		}

		.header .header__phones .header__phones__link {
			color: #95989a;
			text-decoration: none;
			display: block;
			float: left;
			font-size: 13px;
			margin-top: 7px;
		}

		.header .header__phones .header__phones__link-first {
			margin-top: 3px;
		}
	
	.header .header__clock {
		margin-top: 8px;
	}

		.header .header__clock .mdi {
			font-size: 20px;
			color: #95989a;
			float: left;
			margin-right: 16px;
		}

		.header .header__clock .header__clock__time {
			margin-top: 6px;
			float: left;
		}

	.header .header__call-btn {
		float: right;
		border: none;
		background-color: #9ed112;
		color: #fff;
		font-family: 'HelveticaNeueCyr', sans-serif;
		font-size: 10px;
		text-transform: uppercase;
		padding: 10px 17px;
		font-weight: 500;
		letter-spacing: 0.08em;
		-webkit-transition: all 0.24s;
		-o-transition: all 0.24s;
		transition: all 0.24s;
	}

	.header .header__call-btn:hover {
		background-color: #8bb711;
	}
	
	.header .header__central {
		text-align: center;
	}

		.header .header__central a {
			text-decoration: none;
			display: inline-block;
		}

			.header .header__central .header__central__logo {
				font-family: "Book Antiqua", serif;
				font-weight: 600;
				font-size: 32px;
				color: #0a0a0a;
				letter-spacing: 2px;
			}

			.header .header__central .header__central__text {
				margin-top: 9px;
				font-family: 'HelveticaNeueCyr', sans-serif;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 500;
				letter-spacing: 0.05em;
				color: #95989a;
			}
			
			.header .header__search {
				position: relative;
				margin-top: 10px;
				display: inline-block;
			}

			.header .header__search .header__search-input {
				border-radius: 100px;
				border: 1px solid #e5e5e5;
				height: 30px;
				width: 230px;
				padding-right: 50px;
				padding-left: 7px;
				font-size: 13px;
				font-family: 'Roboto', san-serif;
			}

			.header .header__search .header__search-submit {
				font-size: 15px;
				color: #95989a;
			    background-color: #fff;
			    border: none;
			    position: absolute;
		        top: 6px;
			    right: 7px;
			}
	
	.header .header__user-icons {
		display: inline-block;
		float: right;
		margin-top: 10px;
	}

		.header .header__user-icons .header__user-icons__icon {
			position: relative;
			display: inline-block;
			color: #95989a;
			background-color: #fff;
			border: none;
			font-size: 20px;
			margin-top: 2px;
			padding: 0;
		}

		.header .header__user-icons .header__user-icons__icon:last-child {
			margin-left: 17px;
		}

			.header .header__user-icons .header__user-icons__icon .header__user-icons__icon__counter {
				position: absolute;
				background-color: #9ed112;
				color: #fff;
			    border-radius: 50%;
			    width: 18px;
			    font-size: 10px;
			    font-family: 'Robot', sans-serif;
			    font-weight: 600;
			    left: 11px;
			    top: -7px;
			}

				.header .header__user-icons .header__user-icons__icon .header__user-icons__icon__counter .header__user-icons__icon__counter__number {
					text-align: center;
				    line-height: 18px;
				    display: block;
				}

.categories-outer {
	border-bottom: 1px solid #e5e5e5;
}

.top-categories {
	background-color: #fff;
	z-index: 100;
	position: relative;
}	
	
	.top-categories .top-categories__list {
		text-align: center;
	}

	.top-categories .top-categories__list .top-categories__list__item {
		width: 12%;
		text-align: center;
		display: inline-block;
	}

	.top-categories .top-categories__button {
		display: inline-block;
		background-color: #fff;
		border: none;
		padding: 20px 0px;
		font-family: 'HelveticaNeueCyr', sans-serif;
		font-weight: 500;
		color: #95989a;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	.navbar a:hover, .top-categories__list__item:hover .top-categories__button {
   		 color: #4c4c4c;
	}

	.top-categories__list__item:hover .dropdown-content {
	    display: block;
	}


.menu {
	position: relative;
}

.desktop-relative {
	position: relative;
}

.desktop-menu {
	background-color: #fff;
	z-index: 10;
	padding-top: 30px;
	padding-bottom: 44px;
	width: 100%;
	position: absolute;
	padding-left: 2%;
	padding-right: 2%;
	display: none;
	left: 0;
	top: calc(100% + 1px)
}	
	.desktop-menu.active {
		display: block;
	}

	.desktop-menu .desktop-menu__section {
		display: inline-block;
		width: 19.5%;
		float: left;
	}

	.desktop-menu .desktop-menu__heading {
		text-transform: uppercase;
		color: #565656;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.08em;
	}
	
	.desktop-menu .desktop-menu__list {
		margin-top: 20px;
	}

	.desktop-menu .desktop-menu__section.last .desktop-menu__list {
		margin-top: 0;
	}

		.desktop-menu .desktop-menu__list__item {
			padding: 6px 0;
		}

		.desktop-menu .desktop-menu__list__item:first-child {
			padding-top: 0;
		}

.main-slider {
	margin-top: 22px;
}

.main-slider img {
	height: 450px;
	object-fit: cover;
}

.novelties {
	margin-top: 48px;
}

	.novelties .novelties__products {
		margin-top: 30px;
	}

		.novelties .novelties__products .novelties__products__item {
			background-color: #fff;
			padding-bottom: 15px;
		}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__photo {
				position: relative;
				height: 270px;
			}
	
				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}

				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo .novelties__products__item__photo__new {
					position: absolute;
					background-color: #9ad4f6;
					font-family: 'HelveticaNeueCyr', sans-serif;
					letter-spacing: 0.05em;
					font-size: 10px;
					color: #fff;
					border-radius: 100px;
					padding: 6px 12px;
					text-transform: uppercase;
					top: 20px;
					left: 16px;
				}
				
				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo .novelties__products__item__photo__button {
					position: absolute;
					font-size: 16px;
					background-color: #f7f7f7;
					color: #95989a;
					border: none;
					border-radius: 100px;
					width: 31px;
					height: 31px;
					line-height: 31px;
					text-align: center;
					z-index: 1;
					top: 18px;
					-webkit-transition: all 0.25s;
					-o-transition: all 0.25s;
					transition: all 0.25s;
				}

				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo .novelties__products__item__photo__button:hover {
					background-color: #dedddd;
				}
	
				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo .like {
					right: 16px;
				}

				.novelties .novelties__products .novelties__products__item .novelties__products__item__photo .cart {
					right: 58px;
				}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__price {
				font-size: 18px;
				color: #777777;
				margin-top: 11px;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__name {
				font-size: 15px;
				color: #878787;
				display: inline-block;
				text-decoration: none;
				margin-top: 13px;
				-webkit-transition: all 0.15s;
				-o-transition: all 0.15s;
				transition: all 0.15s;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__name:hover {
				color: #4a4a4a;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__star {
				display: inline-block;
				margin-top: 15px;
				font-size: 18px;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__star.active {
				color: #85af11;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__comments {
				text-decoration: none;
				margin-top: 8px;
				color: #b5b5b5;
				font-size: 12px;
				display: inline-block;
			}	

			.novelties .novelties__products .novelties__products__item .novelties__products__item__buy {
				border: none;
			    background-color: #9ed112;
			    color: #fff;
			    font-family: 'HelveticaNeueCyr', sans-serif;
			    font-size: 10px;
			    text-transform: uppercase;
			    padding: 10px 17px;
			    font-weight: 500;
			    letter-spacing: 0.08em;
			    margin-top: 9px;
			    -webkit-transition: all 0.25s;
			    -o-transition: all 0.25s;
			    transition: all 0.25s;
			}

			.novelties .novelties__products .novelties__products__item .novelties__products__item__buy:hover {
				background-color: #8bb711;
			}

.products-pagination {
	margin-top: 20px;
	
}	
	
	.products-pagination .products-pagination__button {
		background-color: transparent;
		border: none;
		font-family: 'HelveticaNeueCyr', sans-serif;
		font-size: 18px;
		color: #8f8f8f;
		padding: 11px 9px;
		margin: 0 5px;
	}

	.products-pagination .products-pagination__button.active {
		color: #9ed112;
		border-bottom: 2px solid #9ed112;
	}

	.products-pagination .products-pagination__button:hover {
		border-bottom: 2px solid #8f8f8f;
	}

	.products-pagination .products-pagination__button.active:hover {
		color: #9ed112;
		border-bottom: 2px solid #9ed112;
	}

.novelties.discounts {
	margin-top: 37px;
}

	.novelties.discounts .novelties__products .novelties__products__item .novelties__products__item__photo .novelties__products__item__photo__new {
		background-color: #ff274d;
	}

.brands {
	margin-top: 65px;
}

	.brands .brands__logos {
		margin-top: 42px;
		text-align: center;
	}

	.brands .brands__item {
		display: inline-block;
		width: 155px;
		text-align: center;
		margin-bottom: 20px;
	}
	
		.brands .brands__item .brands__item__link {
			display: inline-block;
			width: 120px;
			height: 100px;
		}

			.brands .brands__item .brands__item__link .brands__item__link__image {
				width: 100%;

			}

.news {
	margin-top: 70px;
}

	.news .news__post {
		margin-top: 50px;
		background-color: #fff;
	}

		.news .news__post .news__post__image {
			width: 100%;
			height: 185px;
			object-fit: cover;
		}

		.news .news__post .news__post__info {
			padding: 10px 8px 15px 8px;
		}

			.news .news__post .news__post__info .news__post__info__title {
				color: #565656;
				font-size: 14px;
				font-weight: 500;
			}

			.news .news__post .news__post__info .news__post__info__date {
				margin-top: 10px;
				color: #9ed112;
				font-size: 12px;
			}

			.news .news__post .news__post__info .news__post__info__text {
				margin-top: 13px;
				line-height: 1.3;
			}

.footer {
	margin-top: 57px;
	padding-top: 37px;
	border-top: 1px solid #e5e5e5;
}

	.footer .footer__logo .footer__logo__name {
		font-family: "Book Antiqua", serif;
		font-weight: 600;
		font-size: 24px;
		color: #0a0a0a;
		letter-spacing: 2px;
	}

	.footer .footer__logo .footer__logo__text {
		margin-top: 11px;
		font-family: 'HelveticaNeueCyr', sans-serif;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: #95989a;
	}

	.footer .footer__heading {
		text-transform: uppercase;
		color: #565656;
		font-weight: 500;
		font-size: 11px;
		letter-spacing: 0.08em;
	}

	.footer .footer__text {
		line-height: 1.3;
		margin-top: 15px;
		max-width: 365px;
	}

	.footer .footer__social-link {
		margin-top: 16px;
		margin-right: 10px;
		background-color: #f6f6f6;
		text-align: center;
	    line-height: 38px;
	    width: 38px;
	    height: 38px;
	    -webkit-transition: all 0.25s;
	    -o-transition: all 0.25s;
	    transition: all 0.25s;
	}

	.footer .footer__social-link:hover {
		background-color: #dedddd;
	}

	.footer .footer__social-link .mdi {
		font-size: 23px;
	}

	.footer .footer_second-row {
		margin-top: 50px;
	} 

	.footer .contact-icon {
		font-size: 21px;
		color: #95989a;
		float: left;
	}
	
	.footer .footer__contacts .footer__contacts__address {
		margin-top: 21px;
		overflow: hidden;
	}

		.footer .footer__contacts .footer__contacts__address .footer__contacts__address__text {
			display: inline-block;
			margin-left: 16px;
			margin-top: 6px;
		}

	.footer .footer__contacts .footer__contacts__phones {
		margin-top: 16px;
		overflow: hidden;
		max-width: 165px;
	}
	
		.footer .footer__contacts .footer__contacts__phones .footer__contacts__phones__number {
			float: left;
			margin-left: 16px;
			margin-top: 7px;
		}

		.footer .footer__contacts .footer__contacts__phones .footer__contacts__phones__number-first {
			margin-top: 3px;
		}

	.footer .footer__contacts .footer__contacts__email {
		margin-top: 16px;
		overflow: hidden;

	}

	.footer .footer__contacts .footer__contacts__email .footer__contacts__email__address {
		margin-left: 16px;
		margin-top: 4px;
	}

	.footer .footer__pages {
		margin-top: 26px;
		display: inline-block;
	}

	.footer .footer__info {
		float: left;
		width: 200px;
	}
	
		.footer .footer__pages .footer__pages__item {
			padding: 6px 0;
		}

		.footer .footer__pages .footer__pages__item:first-child {
			padding-top: 0;
		}

	.footer .footer__news {
		float: left;
	}

	.footer .footer__form {
		margin-top: 20px;
	}

		.footer .footer__form .footer__form__input {
			background-color: #f7f7f7;
			width: 100%;
			height: 35px;
			border: none;
			margin-bottom: 8px;
			font-size: 11px;
			padding-left: 12px;
			font-family: 'Roboto', sans-serif;
		}

		.footer .footer__form .footer__form__textarea {
			padding-top: 10px;
			border: none;
			background-color: #f7f7f7;
			width: 100%;
			height: 130px;
			padding-left: 12px;
			font-size: 11px;
			resize: vertical;
			font-family: 'Roboto', sans-serif;
		}

		.footer .footer__form .footer__form__submit {
			background-color: #9ed112;
			color: #fff;
			font-family: 'HelveticaNeueCyr', sans-serif;
			font-size: 10px;
			text-transform: uppercase;
			padding: 10px 14px;
			font-weight: 500;
			letter-spacing: 0.08em;
			float: right;
			margin-top: 20px;
			-webkit-transition: all 0.25s;
			-o-transition: all 0.25s;
			transition: all 0.25s;
		}

		.footer .footer__form .footer__form__submit:hover {
			background-color: #8bb711;
		}

	.footer .footer__watermark {
		margin-top: 13px;
		letter-spacing: 0.03em;
		color: #565656;
		font-weight: 400;
		margin-bottom: 38px;
	}

.mobile-header {
	display: none;
	background-color: #fff;
	padding-bottom: 16px;
	padding-top: 5px;
	text-align: center;
	position: relative;
}

	.mobile-header .mobile-header__btn {
		background-color: #fff;
		font-size: 15px;
		color: #95989a;
		position: relative;
		padding: 1px 6px;
	}

	.mobile-header .mobile-header__left {
		float: left;
	}

	.mobile-header .mobile-header__right {
		float: right;
	}

	.mobile-header .mobile-header__logo { 
		font-family: "Book Antiqua", serif;
		font-weight: 600;
		font-size: 15px;
		color: #0a0a0a;
		letter-spacing: 1px;
	}

	.mobile-header .mobile-header__btn__counter {
				position: absolute;
				background-color: #9ed112;
				color: #fff;
			    border-radius: 50%;
			    width: 13px;
			    font-size: 9px;
			    font-family: 'Robot', sans-serif;
			    font-weight: 600;
			    left: 13px;
			    top: -4px;
			}

		.mobile-header .mobile-header__btn__counter .mobile-header__btn__counter__number {
			text-align: center;
		    line-height: 13px;
		    display: block;
		}

.menu-border {
	width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    bottom: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform: translateX(-100%);
}

.menu-border.active {
	transform: translateX(0);
}

.mobile-menu {
	width: 60%;
    position: absolute;
    background: #fff;
    z-index: 10;
    transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    top: 100%;
    height: 10000px;
    padding-top: 20px;
    padding-left: 15px;
    text-align: left;
}

.mobile-menu.active {
	transform: translateX(0);
}
	
	.mobile-menu .mobile-menu__list  .mobile-menu__list__item {
		margin-bottom: 14px;
	}

	.mobile-menu .mobile-menu__list  .mobile-menu__list__item .mobile-menu__list__item__link {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.08em;
		font-size: 11px;
	}

.page-hover {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 50;
}

.page-hover.active {
	display: block;
}

.news-category {
	margin-top: 15px;
	margin-right: 8px;
}

.news-dot {
	display: inline-block;
	background-color: #8f8f8f;
	border-radius: 10px;
	width: 4px;
	height: 4px;
	margin-bottom: 2px;
	margin-right: 8px;
}

.news-photo {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: 15px;
}

.news-content {
	background-color: #fff;
	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 44px;
	padding-right: 30px;
}

	.news-content .news-content__heading {
		text-transform: none;
		font-size: 20px;
		color: #565656;
		font-weight: 500;
	}

	.news-content .news-content__comments {
		background-color: #fff;
		font-size: 13px;
		color: #b7b7b7;
		padding: 0;
		margin-top: 14px;
	}

	.news-content .news-content__date {
		color: #565656;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.08em;
		margin-top: 16px;
	}

		.news-content .news-content__date .news-content__date__time {
			margin-left: 10px;
			text-transform: none;
			color: #a6a6a6;
		}

	.news-content .news-content__text {
		font-size: 13px;
		line-height: 1.3;
		margin-top: 25px;
		letter-spacing: 0.05em;
	}

		.news-content .news-content__socials {
			border-top: 1px solid #e5e5e5;
			display: inline-block;
			padding-top: 20px;
			margin-top: 35px;
			padding-right: 43px;
		}

			.news-content .news-content__socials .news-content__socials__text {
				color: #565656;
			    font-size: 13px;
			    text-transform: uppercase;
			    font-weight: 500;
			    letter-spacing: 0.08em;
			    margin-top: 16px;
			    display: inline-block;
			    margin-right: 20px;
			}

			.news-content .news-content__socials .mdi {
				font-size: 20px;
				color: #fff;
			}
		
		.news-content .news-content__socials__link {
			background-color: #f6f6f6;
		    text-align: center;
		    line-height: 38px;
		    width: 38px;
		    height: 38px;
		    margin-right: 12px;
		}

			.news-content .news-content__socials__link.facebook {
				background-color: #3b5999;
			}
				
			.news-content .news-content__socials__link.vk {
				background-color: #4c75a3;
			}

			.news-content .news-content__socials__link.twitter {
				background-color: #55acee;
			}

.subscribe-section {
	background-color: #fff;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

	.subscribe-section .subscribe-section__text {
		text-transform: uppercase;
		font-size: 13px;
		display: inline-block;
	}

	.subscribe-section .subscribe-section__form {
		display: inline-block;
		margin-left: 23px;
	}

		.subscribe-section .subscribe-section__form .subscribe-section__form__email {
			background-color: #f7f7f7;
		    height: 35px;
		    border: none;
		    font-size: 11px;
		    padding-left: 12px;
		    font-family: 'Roboto', sans-serif;
		    width: 265px;
		}

		.subscribe-section .subscribe-section__form .subscribe-section__form__submit {
		    background-color: #9ed112;
		    color: #fff;
		    font-family: 'HelveticaNeueCyr', sans-serif;
		    font-size: 10px;
		    text-transform: uppercase;
		    padding: 10px 14px;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    margin-left: 11px;
			-webkit-transition: all 0.25s;
			-o-transition: all 0.25s;
			transition: all 0.25s;
		}

		.subscribe-section .subscribe-section__form .subscribe-section__form__submit:hover {
			background-color: #8bb711;
		}

.product {
	margin-top: 15px;
}

	.product .product__image {
		width: 100%;
		max-height: 440px;
		height: auto;
		object-fit: cover; 
	}

	.product .product__heading {
		text-transform: none;
	    font-size: 20px;
	    color: #565656;
	    font-weight: 500;
	    margin-top: 38px;
	    line-height: 1.3;
	}
	
	.product .product__rating {
		margin-top: 16px;
	}

		.product .product__rating .product__rating__star {
			font-size: 16px;
		}

		.product .product__rating .product__rating__star.active {
			color: #9ed112;
		} 

		.product .product__rating .product__rating__comments {
			margin-left: 15px;
		}

	.product .product__price {
		font-size: 25px;
		color: #777777;
		margin-top: 16px;
		margin-bottom: 27px;
	}

	.product .product__info {
	    font-size: 13px;
	    font-weight: 500;
	    letter-spacing: 0.03em;
		margin-top: 12px;
	}

		.product .product__info .product__info__name {
			color: #565656;
			text-transform: uppercase;
		}
	
	.product .product__add {
		margin-top: 22px;
	}

		.product .product__add .product__add__counter {
			background-color: #f7f7f7;
			display: inline-block;
			color: #aaaaaa;
			font-weight: 500;
			padding: 12px 12px;
		    height: 44px;
		    vertical-align: bottom;
		}
			
			.product .product__add .product__add__counter .product__add__counter__amount {
				margin: 0 14px; 
			}
			
			.product .product__add .product__add__counter .product__add__counter__button {
				background-color: transparent;
				color: #aaaaaa;
				font-weight: 500;
				font-size: 15px;
			}

		.product .product__add .product__add__like {
			background-color: #f6f6f6;
			text-align: center;
		    line-height: 44px;
		    width: 44px;
		    height: 44px;
			display: inline-block;
			margin-left: 10px;
			-webkit-transition: all 0.25s;
			-o-transition: all 0.25s;
			transition: all 0.25s;
			color: #aaaaaa;
		}

		.product .product__add .product__add__like:hover {
			background-color: #dedddd;
		}

			.product .product__add .product__add__like .mdi {
				font-size: 18px;
			}	

		.product .product__add .product__add__buy {
			height: 44px;
			vertical-align: bottom;
			background-color: #9ed112;
		    color: #fff;
		    font-family: 'HelveticaNeueCyr', sans-serif;
		    font-size: 10px;
		    text-transform: uppercase;
		    padding: 10px 17px;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    margin-left: 10px;
		    -webkit-transition: all 0.25s;
		    -o-transition: all 0.25s;
		    transition: all 0.25s;
		}

		.product .product__add .product__add__buy:hover {
			background-color: #8bb711;
		}

	.product .product__share {
		margin-top: 49px;
	    border-top: 1px solid #e5e5e5;
	    display: inline-block;
	    padding-top: 20px;
	    padding-right: 43px;
	}

		.product .product__share .product__share__link {
			text-align: center;
		      line-height: 32px;
		    width: 32px;
		    height: 32px;
		    margin-right: 10px;
		}

		.product .product__share .product__share__link.facebook {
			background-color: #3b5999;
		}

		.product .product__share .product__share__link.vk {
			background-color: #4c75a3;
		}

		.product .product__share .product__share__link.twitter {
			    background-color: #55acee;
		}

			.product .product__share .product__share__link .mdi {
			    font-size: 20px;
			    color: #fff;
			}

		.product .product__share .product__share__text {
			color: #565656;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    margin-top: 16px;
		    display: inline-block;
		    margin-right: 20px;
		}
	
	.product .product__delivery {
		text-align: center;
		margin-top: 35px;
		width: 130px;
		display: inline-block;
	}

	.product .product__delivery.first {
		margin-top: 50px;
	}

		.product .product__delivery .product__delivery__icon {
			font-size: 42px;
		}

		.product .product__delivery .product__delivery__heading {
			color: #565656;
		    font-size: 13px;
		    font-weight: 500;
	        letter-spacing: 0.03em;
	        text-transform: uppercase;
	        margin-top: 16px;
		} 

		.product .product__delivery .product__delivery__text {
			margin-top: 9px;
		    font-size: 12px;
		    line-height: 1.3;
		}

	.product .product__tabs {
		text-align: center;
		margin-top: 60px;
	}

		.product .product__tabs .product__tabs__button {
			background-color: transparent;
			font-weight: 600;
			color: #aaaaaa;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			margin: 0 30px;
			-webkit-transition: all 0.15s;
			-o-transition: all 0.15s;
			transition: all 0.15s;
		}

		.product .product__tabs .product__tabs__button:hover {
			color: #777777;
		}

		.product .product__tabs .product__tabs__button.active {
			color: #565656;
		}

	.product .product__content {
		margin-top: 25px;
		padding-bottom: 83px;
	}

	.product .product__content .product__content__description:first-child {
		margin-top: 0;
	}
	
	.product .product__content .product__content__description {
		width: 80%;
		letter-spacing: 0.08em;
		line-height: 1.3;
		display: inline-block;
		margin-top: 14px;
	}

.comments-tab {
	padding-top: 15px;
}

	.comments-tab .comments-tab__button {
		height: 44px;
	    background-color: #9ed112;
	    color: #fff;
	    font-family: 'HelveticaNeueCyr', sans-serif;
	    text-transform: uppercase;
	    padding: 10px 17px;
	    font-weight: 500;
	    letter-spacing: 0.08em;
	    font-size: 10px;
	    -webkit-transition: all 0.25s;
	    -o-transition: all 0.25s;
	    transition: all 0.25s;
	}
	
	.comments-tab .comments-tab__button:hover {
		background-color: #8bb711;
	}

	.comments-tab .comments-tab__comment {
		width: 650px;
		display: inline-block;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 37px;
		margin-top: 30px;
	}

	.comments-tab .comments-tab__comment.first {
		margin-top: 38px;
	}

	.comments-tab .comments-tab__comment.last {
		border: none;
	}

	.comments-tab .comments-tab__comment .comments-tab__comment__author {
		text-align: left;
		display: inline-block;
	}

		.comments-tab .comments-tab__comment .comments-tab__comment__author	.comments-tab__comment__author__name {
			color: #565656;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    display: inline-block;
		    font-size: 12px;
		    margin-top: 4px;
		}

		.comments-tab .comments-tab__comment .comments-tab__comment__author .comments-tab__comment__author__date {
			font-size: 11px;
			margin-top: 10px;
		}

		.comments-tab .comments-tab__comment .comments-tab__comment__author .comments-tab__comment__author__star {
			font-size: 15px;
			margin-top: 9px;
			display: inline-block;
		}

		.comments-tab .comments-tab__comment .comments-tab__comment__author .comments-tab__comment__author__star.active {
			color: #9ed112;
		}

	.comments-tab .comments-tab__comment .comments-tab__comment__text {
		display: inline-block;
		vertical-align: top;
		line-height: 1.3;
		letter-spacing: 0.03em;
	}

		.comments-tab .comments-tab__comment .comments-tab__comment__text p {
		    width: 42px;
		    width: 535px;
		    padding-left: 20px;
		    text-align: left;
		}

	.comments-tab .comments-tab__comment .comments-tab__comment__leave-btn {
		color: #9ed112;
		background-color: #fff;
		float: left;
		text-transform: uppercase;
		font-size: 10px;
		margin-left: 20px;
		padding: 0;
		margin-top: 15px;
		-webkit-transition: all 0.15s;
		-o-transition: all 0.15s;
		transition: all 0.15s;
	}

	.comments-tab .comments-tab__comment .comments-tab__comment__leave-btn:hover {
		color: #8bb711;
	}

.filters {

}
	
	.filters .filters__open {
		width: 100%;
		background-color: #fff;
		position: relative;
		text-align: left;
		padding: 19px 16px;
		color: #565656;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.08em;
		font-family: 'Roboto', sans-serif;
	}

		.filters .filters__open .mdi { 
			position: absolute;
			right: 15px;
			top: 12px;
			color: #aaaaaa;
			font-size: 22px;
			-webkit-transition: all 0.1s;
			-o-transition: all 0.1s;
			transition: all 0.1s;
		}

		.filters .filters__open .mdi.rotate {
			transform: rotate(180deg);
		}

	.filters .filters__list {
		display: none;
		padding-left: 16px;
		padding-bottom: 17px;
	}

	.filters .filters__list .filters__list__item { 
		padding: 5px 0;
	}

		.filters .filters__list .filters__list__item label {
			padding-left: 8px;
			font-family: 'Roboto', sans-serif;
		    font-size: 12px;
		    cursor: pointer;
		    -webkit-transition: all 0.15s;
		    -o-transition: all 0.15s;
		    transition: all 0.15s;
		}

.filters-block {
	border-bottom: 1px solid #e5e5e5;
}

.jcf-radio {
	vertical-align: bottom;
	height: 15px;
	width: 15px;
	border: 1px solid #9ed112;
}

.jcf-focus, .jcf-focus * {
	border-color:#9ed112 !important;
}

	.jcf-radio span {
		background-color: #9ed112;
		top: 2px;
		bottom: 2px;
		left: 2px;
		right: 2px;
	}

.jcf-checkbox span {
	border-width: 0 0 2px 2px;
	border-color: #fff;
    height: 6px;
    width: 11px;
    top: 50%;
    left: 48%;
}

.jcf-checkbox.jcf-focus span {
	border-color:#fff !important;
}

.jcf-checkbox {
	border-color: #9ed112;
	vertical-align: bottom;
}

.jcf-checkbox.jcf-unchecked {
	border-color: #9ed112;
}

.jcf-checkbox.jcf-checked {
	background-color: #9ed112;
}

.catalog {
	margin-top: 15px;
}
	
	.catalog .novelties {
		margin-top: 0;
	}

	.catalog .catalog__product__content {
		padding: 12px 21px 15px 27px;		
	}

		.catalog .novelties .novelties__products {
			margin-top: 0;
		}	

			.catalog  .novelties .novelties__products .novelties__products__item {
				margin-bottom: 30px;
			}

			.catalog  .novelties .novelties__products .novelties__products__item .novelties__products__item__name {
				color: #565656;
				margin-top: 0;
			}
			

			.catalog  .novelties .novelties__products .novelties__products__item .novelties__products__item__price {
				display: inline-block;
				margin-top: 20px;
			}

			.catalog  .novelties .novelties__products .novelties__products__item .novelties__products__item__comments {
				float: right;
				margin-top: 19px;
			}

			.catalog .novelties .novelties__products .novelties__products__item .novelties__products__item__star {
				font-size: 17px;
			}
	
	.catalog .catalog__button-block {
		display: inline-block;
		float: right;
	}

	.catalog .novelties .novelties__products .novelties__products__item .novelties__products__item__buy {
		margin-top: 14px;
	}

.catalog .sm-filters-btn {
	width: 100%;
	text-transform: uppercase;
	background-color: #e5e5e5;
	color: #8f8f8f;
	font-size: 10px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
    height: 30px;
} 

.catalog  .novelties .novelties__products .novelties__products__item .stars {
	display: inline-block;
}

.catalog .catalog__show-more {
	border: none;
    background-color: #9ed112;
    color: #fff;
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-transform: uppercase;
    padding: 10px 23px;
    font-weight: 500;
    letter-spacing: 0.08em;
    height: 44px;
    font-size: 12px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.catalog .catalog__show-more:hover {
	background-color: #8bb711;
}

.product-category-heading {
	font-size: 15px;
    color: #565656;
    display: inline-block;
	margin-top: 13px;
	text-transform: uppercase;
}

.account .filters-block {
	border: none;
}

.account .account__button {
	position: relative;
	background-color: #fff;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #aaaaaa;
    padding-left: 29px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.account .account__button:hover {
	color: #737373;
}

.account .account__button.active {
	color: #9ed112;
}

	.account .account__button .mdi {
	    position: absolute;
	    font-size: 19px;
	    bottom: -2px;
	    left: 0;
	}

.account .account__heading {
    padding: 19px 0;
    color: #565656;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.08em;
    font-family: 'Roboto', sans-serif;
}

.account .account__form-group {
	margin-top: 20px;
}

.account .account__form-group.half-left {
	width: 48%;
	display: inline-block;
}

.account .account__form-group.half-right {
	width: 48%;
	display: inline-block;
	float: right;
}

	.account .account__form-group .account__label {
		display: block;
	}

	.account .account__form-group .account__label.checkbox-label {
		display: inline-block;
		font-size: 11px;
		margin-left: 9px;
		cursor: pointer;
	}

	.account .account__form-group input,
	.account .account__form-group textarea {
		margin-top: 5px;
		background-color: #f7f7f7;
	    width: 100%;
	    height: 35px;
	    border: none;
	    font-size: 11px;
	    padding-left: 12px;
	    font-family: 'Roboto', sans-serif;
	    color: #969696;
	}

	.account .account__form-group textarea {
		padding-top: 13px;
		height: auto;
		resize: vertical;
	}


.account .account__submit {
	margin-top: 28px;
	float: right;
    border: none;
    background-color: #9ed112;
    color: #fff;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 17px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-bottom: 30px;
    height: 44px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.account .account__submit:hover {
	background-color: #8bb711;
}

.account .novelties .novelties__products .novelties__products__item .novelties__products__item__comments {
	float: none;
}

.account .novelties .novelties__products .novelties__products__item .novelties__products__item__price {
	display: block;
}

.account .account__table {
	width: 100%;
	padding-top: 29px;
	overflow: auto;
}	

	.account .account__table .account__table__row {
		padding-left: 3%;
		padding-right: 3%;
		border-bottom: 1px solid #e5e5e5;
		font-size: 11px;
	}	

	.account .account__table .account__table__row.heading {
		border: none;
	}

		.account .account__table .account__table__row .account__table__row__heading {
			display: inline-block;
			font-weight: 500;
			width: 18.8%;
			text-transform: uppercase;
			font-size: 11px;
			padding-bottom: 13px;
		}

		.account .account__table .account__table__row .account__table__row__element {
			display: inline-block;
			width: 18.8%;
			padding: 24px 0;
		}
	
		.account .account__table .account__table__row .account__table__row__status.complete {
			color: #6bde62;
		}
	
		.account .account__table .account__table__row .account__table__row__show {
		    border: none;
		    background-color: #e5e5e5;
		    color: #8f8f8f;
		    font-family: 'HelveticaNeueCyr', sans-serif;
		    font-size: 11px;
		    text-transform: uppercase;
		    padding: 10px 17px;
		    font-weight: 500;
		    letter-spacing: 0.08em;
		    height: 30px;
		}

		.account .account__table .account__table__row .account__table__row__show.active {
			background-color: #9ed112;
			color: #fff;
		}

		.account .account__table .account__table__row .account__table__row__product { 
			width: 37.6%;
			float: left;
			overflow: hidden;
		}

		.account .account__table .account__table__row .account__table__img { 
			width: 70px;
			height: 70px;
			float: left;
			margin-right: 35px;
		}

		.account .account__table .account__table__row .account__table__row__name {
			font-size: 14px;
			margin-top: 18px;
		}

		.account .account__table .account__table__row .account__table__row__price {
			font-size: 14px;
			color: #777777;
			margin-top: 10px;
		}

	.account .account-table-details {
		padding-bottom: 24px;
		overflow: hidden;
	}

	.account .account__table .account__table__row .account__table__row__product__element {
		font-size: 14px;
		color: #777777;
		display: inline-block;
		width: 18.8%;
		float: left;
		margin-top: 18px;
	}

.basket {
	margin-top: 30px;
}

	.basket .basket__heading {
	    padding: 19px 0 19px 9px;
	    color: #565656;
	    font-size: 11px;
	    text-transform: uppercase;
	    font-weight: 600;
	    letter-spacing: 0.08em;
	    font-family: 'Roboto', sans-serif;
	}

	.basket .basket__column-heading {
		padding: 16px 10px;
		display: block;
		width: 100%;
		font-weight: 500;
	    text-transform: uppercase;
	    font-size: 11px;
	}

	.basket .basket__product {
		border-bottom: 1px solid #e5e5e5;
	}

	.basket .basket__product img {
		width: 70px;
		height: 70px;
	}

	.basket .basket__product .basket__product__name {
		color: #8f8f8f;
		font-size: 14px;
		margin-top: 27px;
	}
	
	.basket .basket__product .basket__product__amount {
		margin-top: 17px;
		background-color: #f7f7f7;
		display: inline-block;
		margin-left: 9px;
	}
	
	.basket .basket__product .basket__product__amount .basket__product__amount__button {
		color: #aaaaaa;
		background-color: #f7f7f7;
		padding: 7px 10px;
	}

	.basket .basket__product .basket__product__price {
		margin-top: 25px;
		font-size: 14px;
	    color: #777777;
	    display: inline-block;
	    font-weight: 500;
	}

	.basket .basket__product .basket__product__delete {
		margin-top: 23px;
		font-size: 18px;
		background-color: #fff;
		color: #b1b1b1;
	} 

	.basket .basket__product .basket__product__delete-small {
		display: none;
		float: right;
	    margin-top: 0;
	}

.leave-comment {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fcfcfc;
	z-index: 10000;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	transform: translateY(100%);
}

.leave-comment.active {
	transform: translateY(0);
	opacity: 1;
}

	.leave-comment .leave-comment__form {
		background-color: #fff;
		padding-left: 23px;
		padding-right: 36px;
		padding-bottom: 30px;
		position: fixed;
		left: calc(50% - 210px);
		top: calc(50% - 236px);
		width: 420px;
	}

		.leave-comment .leave-comment__form .leave-comment__form__heading {
			padding: 19px 0;
		    color: #565656;
		    font-size: 11px;
		    text-transform: uppercase;
		    font-weight: 600;
		    letter-spacing: 0.08em;
		    font-family: 'Roboto', sans-serif;
		}

		.leave-comment .leave-comment__form .leave-comment__star {
			margin-top: 29px;
			background-color: #fff;
			color: #aaaaaa;
			padding: 0;
			font-size: 15px;
			margin-right: 2px;
		}
		

		.leave-comment .leave-comment__form .leave-comment__star.hover {
			color: #cfec7f;
		}

		.leave-comment .leave-comment__form .leave-comment__star.active {
			color: #9ed112;
		}

		.leave-comment .account__submit {
			margin-bottom: 0;
			height: 34px;
		}

		.leave-comment .leave-comment__rate {
			margin-left: 20px;
		}

.slider-nav {	
    color: #fff;
    position: absolute;
    font-size: 60px;
    top: calc(50% - 30px);
    opacity: 0.8;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.slider-nav:hover {
	opacity: 1;
}

.slider-nav.slider-nav_left {
	left: 0;
}

.slider-nav.slider-nav_right {
	right: 0;
}

.order {
	margin-top: 27px;
}

	.order .account__form {
		padding: 0 30px;
	}

	.order-tab {
		display: none;
	}

	.order-tab.active {
		display: block;
	}

	.order .order__client {
		margin: 10px 0;
		border: none;
	    background-color: #fff;
	    color: #565656;
	    font-family: 'HelveticaNeueCyr', sans-serif;
	    font-size: 11px;
	    padding: 4px 10px;
	    font-weight: 500;
	    letter-spacing: 0.08em;
	    border-radius: 5px;
	    -webkit-transition: all 0.18s;
	    -o-transition: all 0.18s;
	    transition: all 0.18s;
	}

	.order .order__client.active {
		background-color: #9ed112;
	    color: #fff;
	}

	.order .order__client:hover {
		background-color: #fdfdfd;
	}

	.order .order__client.active:hover {
		background-color: #9ed112;
	}

	.order .order__step {
		padding: 0;
		display: inline-block;
		background-color: #fff;
		color: #9ed112;
		border: 1px solid #9ed112;
		line-height: 20px;
		height: 20px;
		width: 20px;
		text-align: center;
		border-radius: 5px;
		margin-right: 9px;
		cursor: pointer;
		-webkit-transition: all 0.18s;
	    -o-transition: all 0.18s;
	    transition: all 0.18s;
	}

	.order .order__step.active {
		background-color: #9ed112;
	    color: #fff;
	}

	.order .order__step:hover {
		background-color: #fdfdfd;
	}

	.order .order__step.active:hover {
		background-color: #9ed112;
	}

	.order .order__line {
		display: inline-block;
		height: 1px;
		width: calc(93% - 167px);
		margin-top: 11px;
		float: right;
		background-color: #e5e5e5;
	}

	.order .order__select {
		margin-top: 5px;
	    background-color: #f7f7f7;
	    width: 100%;
	    height: 35px;
	    border: none;
	    font-size: 11px;
	    padding-left: 12px;
	    font-family: 'Roboto', sans-serif;
	    color: #969696; 
	    outline: none;
	}

	.order .order__hint-outer {
		float: right;
	    background-color: #9ed112;
	    color: #fff;
	    border-radius: 50%;
	    width: 15px;
	    font-size: 10px;
	    line-height: 15px;
	    font-family: 'Robot', sans-serif;
	    font-weight: 600;
	    position: relative;
	}
	
	.order .order__hint-outer .order__hint-mark {
	    text-align: center;
	    display: block;
	}
	
	.order .order__hint {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		position: absolute;
		background-color: #e6e6e6;
		width: 170px;
		z-index: 1;
	    right: -6px;
    	top: 18px;
		border-radius: 3px;
		color: #b2b2b2;
		letter-spacing: 0.03em;
	    font-weight: 400;
	    padding: 9px 13px;
	}

	.order .order__hint-outer:hover .order__hint {
		visibility: visible;
		opacity: 1;
	}


	.order .order__product {
		overflow: hidden;
		margin-top: 25px;
	}

	.order .order__product .order__product__price {
		float: right;
	}
	
	.order .order__product .order__product__avatar {
		float: left;
	}

	.order .order__product .order__product__avatar img {
		width: 60px;
		height: 60px;
		margin-right: 25px;
	}
	
	.order .order__product .order__product__border {
		display: block;
		height: 1px;
		background-color: #e5e5e5;
		margin-top: 25px;
	}

	.order .order__product .order__product__name {
		margin-top: 8px;
	}

	.order .order__product .order__product__counter {
		margin-top: 13px;
	}

	.order .order__product .order__product__counter .order__product__counter__number {
		display: inline-block;
		margin: 0 3px;
	}

		.order .order__product .order__product__counter__button {
			background-color: #f7f7f7;
			color: #aaaaaa;
		    padding: 5px 10px;
		}

		.order .order__product .order__product__counter__price {
			float: right;
		    font-size: 14px;
		    color: #777777;
			margin-top: 5px;
		}

	.order .order__product .order__product__delete {
		float: right;
	    font-size: 16px;
	    background-color: #fff;
	    color: #b1b1b1;
	}
	
	.order .order__submit{
		font-weight: 500;
		padding-top: 6px;
		padding-bottom: 25px;
	}

	.order .order__submit .order__submit__price {
		margin-bottom: 12px;
	    font-size: 14px;
	    color: #777777;
	    clear: both;
	}

	.order .order__submit .order__submit__price .order__submit__price__number {
		float: right;
		margin-right: 15px;
	}

.account-overflow {
	overflow-x: auto;
	overflow-y: hidden;
}